/*Latest comments author*/
.lca__background-color {
    background-color: #eaeaea;
}
.lca_header {
    align-items: flex-end;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: normal;
}
.lca_count {
    margin: 0 7px 0 0;
    padding: 5px 10px;
}
.lca_count span {
    margin: 0 5px;
}
.lca_head_text {
    font-size: 1.3em;
    margin: 0 0 0 7px;
    padding: 5px 10px;
}
.lca_header .lca_count {
    display: flex;
}
.lca_blk {
    box-sizing: border-box;
    line-height: 1.4;
}
.lca_single {
    background-color: #fafafa;
    border: 1px solid #dadada;
    margin: 0 2px 16px;
    padding: 0 0 2px;
}
.lca-single__head {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.lca-single__left {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}
.lca_num {
    align-self: flex-start;
    border-radius: 0 0 6px 0;
    color: #777;
    flex-shrink: 0;
    min-width: 14px;
    padding: 6px 8px;
    text-align: center;
}
.lca_title {
    align-items: center;
    display: flex;
    line-height: normal;
    margin: 4px 2px;
}
.lca_title .fa-volume-up {
    margin: 0 5px;
}
#rcl-office .lca_title a:hover {
    text-decoration: underline;
}
.lca_date {
    font-size: .7em;
    margin-right: 2px;
    max-width: 65px;
}
.lca_content {
    clear: both;
    overflow: hidden;
    padding: 15px 12px 0;
}
.lca_count:hover:after {
    content: "всего";
}
.lca_mess {
    background-color: #fce6db;
    padding: 10px;
    text-align: center;
}
.lca_single .post-rating {
    clear: both;
    margin: 8px 6px 6px;
    padding: 0;
}
.lca_single .rating-value-block {
    color: #67747d;
}
.lca_single .rating-plus {
    color: #008000;
}
.lca_single .rating-minus {
    color: red;
}
@media screen and (max-width:400px) {
    .lca_head_text {
        font-size: 1.1em;
    }
}
