/*Latest comments author*/
.lca_count {
    background-color: rgba(210, 210, 210, 0.6);
    float: right;
    font: 14px arial;
    margin: 4px 5px 0 0;
    padding: 5px 4px 5px 6px;
}
.lca_count .fa-comments-o {
    padding: 0 5px 0 0;
}
.lca_head {
    background: rgba(210, 210, 210, 0.6);
    box-sizing: content-box;
    margin: 0 0 0 7px;
    padding: 5px 4px;
    width:215px;
    font:18px arial;
}
.lca_single {
    background: rgba(222, 222, 222, 0.3);
    box-shadow: 0 0 1px 1px rgba(210, 210, 210, 0.8);
    margin: 0 2px 12px;
    padding: 6px 3px 2px;
}
.lca_num {
    background: rgba(210, 210, 210, 0.6);
    color: #555;
    float: left;
    font: bold 16px arial;
    margin: -6px 0 0 -3px;
    min-width: 10px;
    padding: 6px 8px 6px 6px;
}
.lca_title {
    font: bold 16px arial;
    float: left;
    width: 72%;
    width: calc(100% - 68px - 45px);  /* 100% отступ справа 68 и отступ слева 45 */
}
.lca_title .fa-volume-up {
    margin: 0 5px 0 8px;
}
.lca_date {
    float: right;
    font: 10px arial;
    margin: 0;
    width: 65px;
}
.lca_content {
    padding: 15px 5px 3px;
    clear: both;
    overflow: hidden;
}
.lca_count:hover:after {
    content: " всего";
}
.lca_mess {
    font: bold 16px arial;
    padding-left: 10px;
}
.lca_single .post-rating {
    clear: both;
    padding: 0;
    margin: 8px 6px 6px;
}
.lca_single .rating-value-block {
    color: #67747d;
}
.lca_single .rating-plus {
    color: #008000;
}
.lca_single .rating-minus {
    color: red;
}
@media screen and (max-width:400px) {
    .lca_title {
        width: 65%;
        width: calc(100% - 68px - 45px);
    }
    .lca_count:hover:after {
        content: "";
    }
    .lca_head {
        font: 16px arial;
        margin: 0;
        padding: 4px 2px 5px 6px;
        width: 97%;
    }
    .lca_count {
        margin: 1px 2px 0 0;
    }
}