/*Latest comments author*/
.lastcomm-count-total {
	margin: 6px 0 0;
	padding:5px 4px 5px 6px;
	float:right;
	font:14px arial;
	background-color:#c6dce6;
}
.lastcomm-h {
	background-color:#c6dce6;
    margin: 0 0 0 5px;
    padding: 5px 4px;
	width:215px;
	font:18px arial;
}
.lastcomm-feed {
    background: #f8f8f8;
    border: 1px solid #c6dce6;
    box-shadow: 0 0 24px 7px #d8e7ee inset;
    margin: 0 0 8px;
    padding: 6px 3px 2px;
}
.lastcomm-num {
    background-color: #d8e7ee;
    float: left;
    font: bold 16px arial;
    margin: -6px 0 0 -3px;
    min-width: 10px;
    padding: 6px 8px 6px 6px;
}
.lastcomm-title {
    font: bold 16px arial;
    margin-left: 10px;
	float: left;
    width: 72%;
	width: calc(100% - 68px - 45px); /* 100% отступ справа 68 и отступ слева 45 */
}
.lastcomm-date {
    float: right;
    font: 10px arial;
    margin: 0;
	width: 65px;
}
.lastcomm-content {
    padding: 15px 5px 3px;
    clear: both;
	overflow: hidden;
}

.wprecallblock #lk-content .latestcomments_block .votes-window {
    margin-bottom: 6px ;
    position: relative;
}
.wprecallblock #lk-content .latestcomments_block {
    padding: 5px 0;
}
.lastcomm-count-total:hover:after {
    content: " всего";
}

.latestcomments_block span.lastcomm_pages {
    font-size: 16px;
    text-decoration: none;
}
.lastcomm_mess {
    font: bold 16px arial;
    padding-left: 10px;
}

.rayt-res {
	 margin: 8px 6px 6px 20px;
}

#lk-content .latestcomments_block .post-rating {
    clear: both;
    padding: 0;
    margin: 8px 6px 6px;
}

.latestcomments_block .lastcomm_warn {
    color: #b22222;
    font: bold 16px/1.5 arial;
    padding: 5px 10px;
}

.latestcomments_block .post-rating .rating-null {
    color: #2A3740;
}

/* Adaptive for mobile start */
@media screen and (max-width:890px) {
	.wprecallblock .lastcomm-title {
		width: 65%;
		width: calc(100% - 68px - 45px);
	}
}
@media screen and (max-width:770px) {
	.wprecallblock .lastcomm-title {
		width: 60%;
		width: calc(100% - 68px - 45px);
	}
}
@media screen and (max-width:720px) {
	.wprecallblock .lastcomm-title {
		width: 75%;
		width: calc(100% - 68px - 45px);
	}
}
@media screen and (max-width:500px) {
	.wprecallblock .lastcomm-title {
		width: 65%;
		width: calc(100% - 68px - 45px);
	}
}
@media screen and (max-width:385px) {
	.lastcomm-count-total:hover:after {
		content: "";
	}
}
@media screen and (max-width:365px) {
	.wprecallblock .lastcomm-title {
		display: inline;
		float: none;
		width: auto;
	}
	.lastcomm-h {
		font: 16px arial;
		margin: 0;
		padding: 4px 2px 5px 6px;
		width: 100%;
	}
	.lastcomm-count-total {
		margin: 2px 2px 0 0;
	}
	
}
/* Adaptive for mobile end */